{{ 'footer.css' | asset_url | stylesheet_tag }}


<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-content-item">
        <div class="footer-content-title">Footer Title</div>
        <div class="footer-content-description">Footer Description</div>
      </div>
      <div class="footer-content-item">
        <div class="footer-content-title">Footer Title</div>
        <div class="footer-content-description">Footer Description</div>
      </div>
      <div class="footer-content-item">
        <div class="footer-content-title">Footer Title</div>
        <div class="footer-content-description">Footer Description</div>
      </div>
    </div>
  </div>
</footer>