.swiper-main-component {
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.swiper {
    height: 100%;
    width: 100%;
}

.swiper-wrapper {
    display: flex;
    gap: 0;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    flex: none;
    width: 100%;
    overflow: hidden;
    position: relative;
}


.swiper-dots-content {
    display: flex;
    justify-content: center;
    gap: 0.125em;
    position: absolute;
    left: 1em;
    bottom: 1em;
}

.swiper-dots-content .swiper-dot {
    width: 1em;
    height: 0.25em;
    border-radius: 0.125em;
    background-color: var(--color-primary);
}

.swiper-dots-content .swiper-dot.swiper-dot-active {
    background-color: var(--color-secondary);
    width: 1.5em;
}